<!DOCTYPE html>

<html>
	<head>
		<title>Analyzing URLs</title>
	</head>
	<body>
		<form method="GET" action="/urladdress">
			<div>
				<label for="results">First way to get URL</label>
				<input type="text" name="results">
			</div>
			<div class='button'>
				<button type="submit">send</button>
		</form>

		<form action = "http://localhost:5000/textfile" method = "POST" enctype = "multipart/form-data">
			<p>Second way to get URL</p>
			<input type = "file"name = "file"/>
			<div class='button'>
				<button type="submit">send</button>
		</form>
		<div>
			<p>
			<center><span style = "font-size:1.5em; color: green;">
			      The Result of Analyzing URLs-
			      {{message}}
			</span>
			</center>
			</p>
			<hr style="border:black 2px dashed">
		</div>

<style type="text/css">

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:blakc;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px; overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px; font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-nrh5{background-color:#c6bdbd;color:#000000;text-align:left;vertical-align:top}
.tg .tg-703j{background-color:#9b8989;color:#000000;text-align:left;text-decoration:underline;vertical-align:top}
.tg .tg-ss57{background-color:#9b8989;color:#000000;text-align:left;vertical-align:top}
.tg .tg-gi99{background-color:#c6bdbd;color:#000000;text-align:left;text-decoration:underline;vertical-align:top}
</style>
<table class="tg">
	<thead>
		<tr>
			<th class="tg-703j">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The server URL's&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
			<th class="tg-ss57">word count</th>
			<th class="tg-ss57">time take</th>
			<th class="tg-ss57">find top 10 words by using tf-idf</th>
			<th class="tg-ss57">find similar site by using cosine similarity</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		        <td class = "tg-gi99">{{results[0]}}</td>
			<td class = "tg-nrh5">{{wordcount[0]}}</td>
			<td class = "tg-nrh5">{{timecount[0]}}</td>
			<td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn1" value = "check"onclick = "alert({{topword}})"></td>
			<td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[0]}})"></td>
		</tr>
		<tr>
			<td class = "tg-703j">{{results[1]}}</td>
			<td class = "tg-ss57">{{wordcount[1]}}</td>
			<td class = "tg-ss57">{{timecount[1]}}</td>
			<td class = "tg-ss57"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name = "btn1" value = "check" onclick = "alert({{topword}})"></td>
			<td class = "tg-ss57"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[1]}})"></td>
		</tr>
		<tr>
			<td class = "tg-gi99">{{results[2]}}</td>
			<td class = "tg-nrh5">{{wordcount[2]}}</td>
			<td class = "tg-nrh5">{{timecount[2]}}</td>
                        <td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name = "btn1" value = "check" onclick = "alert({{topword}})"></td>
                        <td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[2]}})"></td>
                </tr>
                <tr>
			<td class = "tg-703j">{{results[3]}}</td>
			<td class = "tg-ss57">{{wordcount[3]}}</td>
			<td class = "tg-ss57">{{timecount[3]}}</td>
                        <td class = "tg-ss57"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name = "btn1" value = "check" onclick = "alert({{topword}})"></td>
                        <td class = "tg-ss57"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[3]}})"></td>
                </tr>
		<tr>
			<td class = "tg-gi99">{{results[4]}}</td>
			<td class = "tg-nrh5">{{wordcount[4]}}</td>
			<td class = "tg-nrh5">{{timecount[4]}}</td>
                        <td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name = "btn1" value = "check" onclick = "alert({{topword}})"></td>
                        <td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[4]}})"></td>
                </tr>
                <tr>
			<td class = "tg-703j">{{results[5]}}</td>
			<td class = "tg-ss57">{{wordcount[5]}}</td>
			<td class = "tg-ss57">{{timecount[5]}}</td>
                        <td class = "tg-ss57"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name = "btn1" value = "check" onclick = "alert({{topword}})"></td>
                        <td class = "tg-ss57"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[5]}})"></td>
                </tr>
		<tr>
			<td class = "tg-gi99">{{results[6]}}</td>
			<td class = "tg-nrh5">{{wordcount[6]}}</td>
			<td class = "tg-nrh5">{{timecount[6]}}</td>
                        <td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name = "btn1" value = "check" onclick = "alert({{topword}})"></td>
                        <td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[6]}})"></td>
                </tr>
                <tr>
			<td class = "tg-703j">{{results[7]}}</td>
			<td class = "tg-ss57">{{wordcount[7]}}</td>
			<td class = "tg-ss57">{{timecount[7]}}</td>
                        <td class = "tg-ss57"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name = "btn1" value = "check" onclick = "alert({{topword}})"></td>
                        <td class = "tg-ss57"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[7]}})"></td>
                </tr>
                <tr>
			<td class = "tg-gi99">{{results[8]}}</td>
			<td class = "tg-nrh5">{{wordcount[8]}}</td>
			<td class = "tg-nrh5">{{timecount[8]}}</td>
                        <td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name = "btn1" value = "check" onclick = "alert({{topword}})"></td>
                        <td class = "tg-nrh5"><form method = "POST" action = "/textfile/resulting"><input type = "submit" name="btn11" value = "check" onclick = "alert({{urls[8]}})"></td>
                </tr>
        </tbody>
</table>


	</body>
</html>


