<!DOCTYPE html>

<html>
	<head>
		<title>Get URL</title>
	</head>
	<body>
		<form method="GET" action="/urladdress">
			<div>
				<label for="results">type url</label>
				<input type="text" name="results">
			</div>
			<div class='button'>
				<button type="submit">send</button>
		</form>

		<form action = "http://localhost:5000/textfile" method = "POST" enctype = "multipart/form-data">
			<input type = "file"name = "file"/>
			<div class='button'>
				<button type="submit">send</button>
		</form>
		<div>
			<p>
			<h5>
				{{results}}
			</h5>
			</p>
		</div>
	</body>
</html>


